<%= react_component("articles/NewArticle", 
    labels: t('.'), 
    auth: form_authenticity_token, 
    errors: flash[:errors],
    sell_accounts: @sell_accounts,
    buy_accounts: @buy_accounts,
    inv_accounts: @inv_accounts,
    taxes: @taxes,
    article: @article
  )
  %>

<%= flash[:errors].inspect %>
<%= t('.').inspect %>

<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<p>test</p>
<%= @buy_accounts.inspect %>
<p>test</p>
<%= @sell_accounts.inspect %>
<p>test</p>
<%= @inv_accounts.inspect %>
<p>test</p>
